/* ======== ESTILOS GENERALES ======== */

body {
  margin: 0;
  font-family: 'Times New Roman';
}

/* ======== SIDEBAR (DESKTOP) ======== */

#sidebar {
  width: 240px;
  background: #A7C7E7;
  border-right: 1px solid #FFEAA7;
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
}


#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  margin: 0;
}

#sidebar ul li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #E9B8CE;
}

/* ======== MAIN ======== */

main {
  margin-left: 240px;
  padding: 20px;
}

/* ======== BOTÓN MENÚ (MÓVIL) ======== */

#menu-btn {
  display: none; /* escondido en PC */
}

/* ======== MODO MÓVIL ======== */
@media (max-width: 900px) {
  
  /* Mostrar botón */
 #menu-btn {
  display: block;
  position: fixed;
  top: 8px;
  left: 8px;
  font-size: 30px;
  background: transparent;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 2000; /* más alto para evitar solapamiento */
}

 body {
    padding-top: 60px; /* <- este es el truco */
  }
}

  /* Sidebar oculto */
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    transform: translateX(-260px);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  /* Sidebar visible */
  #sidebar.open {
    transform: translateX(0);
  }

  /* Main ocupa todo */
  main {
    margin-left: 0;
    padding: 20px;
  }
